<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<script>
function sendData() {
    var orgURL = $("#url").val().trim();

    if(!orgURL.match(/^http(s?):\/\//)){
        alert("URL 앞에 http://, https:// 를 붙여주세요!!");
        $("url").focus();
    }else{
        var messageDTO = {
            data:orgURL
        };
        $.ajax({
            url: "/dataSend",
            data: messageDTO,
            type:"POST",
        }).done(function (fragment) {
            alert("조회 성공");
            $("#resultDiv").replaceWith(fragment);
        });
    }

}
</script>
<body>
<div class="container">
    <input id="url" placeholder="Please enter text" type="text" class="form-control" style="width:800px;height:30px;font-size:12px;">
    <button class="btn btn-outline-secondary" type="button" onclick="sendData()">submit</button>
    <div id="resultDiv">
        <p>변환 결과 : </p><p th:if="${result}!=null" th:text="${result}"></p>
    </div>
</div> <!-- /container -->

</body>
</html>


